.containerForm {
    align-items: center;
    color: black;
    text-align: center;
    background-color: rgb(255, 244, 215, 0.7);
    margin: auto;
    margin-top: 10px;
    height: auto;
    max-width: 850px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0); 
    overflow: hidden;
    padding: 8px;
}
.containerForm h3 {
    width: 300px;
    margin: 11px;
    margin-top: 15px;
    background: rgb(255, 228, 196);
    box-shadow: 0px 1px 3px black;
    border-radius: 5px;
    font-size: medium;
}
.dog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dogInfo {
    margin-top: 5px;
    width: 350px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.dogInfo input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: small;
    font-weight: 500;
    padding-left: 10px;
}
.dogInfo label {
    font-weight: 600;
    border-radius: 10px;
    font-size: medium;
}

.inputName {
    width: 250px;
}
.inputNums {
    display: flex;
    justify-content: space-evenly; 
}
.inputNums input {
    width: 45px;    
    text-align: left;
    margin-left: 5px;
}

.temperaments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}
.temperaments h3 {
    width: 300px;
    margin: 20px;
}
.temperamentsList {
    width: 330px;
    height: 225px;
    border: 1px solid black;
    border-radius: 10px 5px 5px 10px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;    
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0); 
    background: bisque;
}
.selectedTemperamentsList {
    width: 330px;
    height: auto;
    min-height: 40px;
    border: 1px solid black;
    border-radius: 10px 5px 5px 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: scroll;
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0); 
    background: bisque;
}

.temp {
    background: linear-gradient(0.25turn, #d3d3d3, #a7a7a7);
    font-size: small;
    margin: 1px;
    padding: 0px 3px 1px 3px;
    transition: padding 0.5s ease;
}
.temp:hover:enabled {
    color: black;
    background: linear-gradient(0.25turn, #9c7676, bisque);
    font-weight: bold;
    padding: 0 3px 1px 3px;
    box-shadow: 1px 1px 3px black;
}


.submitbutton {
    padding: 0px 15px 0px 15px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    background-color: bisque;
    transition: transform 0.4s ease;
    border: none;
}
.submitbutton:hover:enabled {
    box-shadow: 1px 1px 10px black;
    background-color: bisque;
    background: linear-gradient(0.25turn, #9c7676, bisque);
    transform: scale(1.4);
    z-index: 50;
}
.submitbutton:disabled {
    box-shadow: none;

}
.errors {
    font-size: small;
    font-weight: 400;
    color: rgb(192, 0, 0);
    margin: 2px;
    padding: 0;
    background: rgb(255, 203, 203);
    width: 300px;
    line-height: 14px;
}