.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-align: center;
    font-size: large;
    background: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    height: auto;
    width: 900px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0); 
}
.containerForm h3 {
    margin: 11px;
    margin-top: 22px;
    background: rgba(127, 176, 221,0.7);
    box-shadow: 0px 1px 3px black;
    border-radius: 50px;
}
.dog {
    width: inherit;
    background-image: url('silueta_dog.png');
    background-repeat: no-repeat;
    background-position: 49% 60%;
    background-size: 20%;
    display: flex;
    justify-content: space-between;
}

.dogInfo {
    width: 350px;
    margin-left: 15px;
}
.dogInfo input {
    height: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0); 
    border: none;
    font-size: medium;
    font-weight: 500;
    padding-left: 10px;
}
.dogInfo label {
    font-weight: 600;
    border-radius: 10px;
}

.inputName {
    width: 250px;
}
.inputNums {
    display: flex;
    justify-content: space-evenly;   
    font-size: large;
}
.inputNums input {
    width: 40px;    
    text-align: center;
}

.temperaments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}
.temperaments h3 {
    width: 330px;
    margin: 20px;
}
.temperamentsList {
    width: 330px;
    height: 225px;
    border: 1px solid black;
    border-radius: 10px 5px 5px 10px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;    
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0); 
    background: rgba(127, 176, 221,0.1);
}
.selectedTemperamentsList {
    width: 330px;
    height: auto;
    min-height: 40px;
    border: 1px solid black;
    border-radius: 10px 5px 5px 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: scroll;
    box-shadow: inset 1px 1px 5px rgb(0, 0, 0); 
    background: rgba(127, 176, 221,0.1);
}

.temp {
    background: linear-gradient(0.25turn, #d3d3d3, #c5c5c5);
    font-size: small;
    margin: 1px;
    padding: 0px 3px 1px 3px;
    transition: padding 0.5s ease;
}
.temp:hover:enabled {
    color: black;
    background: linear-gradient(0.25turn, #9c7676, bisque);
    font-weight: bold;
    padding: 0 3px 1px 3px;
    box-shadow: 1px 1px 3px black;
}

.submitbutton {
    padding: 0px 15px 0px 15px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    background-color: rgb(253, 245, 234);
    transition: transform 0.4s ease;
    border: none;
}
.submitbutton:hover {
    box-shadow: 1px 1px 10px black;
    background-color: bisque;
    background: linear-gradient(0.25turn, #9c7676, bisque);
    transform: scale(1.4);
    z-index: 50;
}
