.container {
  display: flex;
  margin: 0;
  width: 400px;
  height: 160px;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: 1px 1px 7px rgb(0, 0, 0);
  border-radius: 10px;
}  

.imageCard {
  filter: brightness(90%);
  float: left;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  transition: transform 0.25s ease;
}
.imageCard:hover {
  filter: brightness(100%);
  transform: scale(1.05);
  z-index: 11;
}
.imageCard img {
  object-fit: cover;
  max-width: 220px;
  width: auto;
  height: 160px;  
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin: 10px;
  color: black;
  line-height: 12px;
  width: auto;
}
.title {
  background-color: rgba(127, 176, 221,0.3);
  box-shadow: 0px 0px 3px black;
  padding: 6px;
  margin-top: 5px;
  font-size: medium;
  font-weight: bold;
  line-height: 15px;
  height: auto;
  width: 150px;
  border-radius: 5px;
  z-index: 10;
}
.data {
  padding: 2px;
  margin: 1px;
  font-weight: 600;
  font-size: small;
}
