.container {
  margin: 0;
  width: 400px;
  height: 160px;
  overflow: hidden;
  background: linear-gradient(rgb(246, 157, 60), rgb(63, 135, 166));
  box-shadow: 1px 1px 5px black;
}  

.imageCard {
  filter: brightness(90%);
}
.imageCard:hover {
  filter: brightness(100%);
}

.imageCard img {
  float: left;
  flex: 2 1 0%;
  object-fit: cover;
  max-width: 220px;
  width: auto;
  height: 160px;  
  position: relative;
}

.description {
  float: inline-start;
  width: auto;
  font-size: small;
  margin-top: 0;
  margin: 6px;
  color: black;
  line-height: 12px;
}
