.pagination{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 20px;
}
.pagination button {
    padding: 5px 10px;
    border: 1px solid transparent;
}
li{
    display: inline;
    text-align: center;
}
