.container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 900px;
    height: 300px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
    border-radius: 15px;
}

.image {
    position: relative;
    float: left;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.id {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: smaller;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.7));
}

.image img{
    float: left;
    flex: 2 1 0%;
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    height: 300px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    float: left;
    flex: 3 1 0%;
    padding-left: 16px;
    line-height:26px;
    text-align: left;
    color: black;
    overflow-wrap: break-word;
}
.description h2 {
    color: rgb(255, 255, 255);
    background-color: rgba(127, 176, 221);
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 2px black;
    padding: 12px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 15px;
    border-radius: 10px;
}

.description p {
    text-align: center;
    margin-top: 0;
    font-size: large;
    font-weight: bold;
}