  .navBar {
    /* position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: auto;
    z-index: 1000;
    height: 50px;
    font-size: larger; */
    display: grid;
    grid-template-columns: 1fr auto;
    /* background: linear-gradient(90deg, #3f87a6 0%, rgba(49,49,57,1) 47%, #f69d3c 100%); */
    background-color: rgb(0, 0, 0, 0.2);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

    
  .navLinks {
    margin: 6px;
    
  }
  
  .navLinks button {
    background-color: #3f87a6;
    border: 0;
    margin: 2px;
    padding: 10px;
    color: #ffff;
    font-size:medium;
    cursor: pointer;
  }
  .navLinks button:hover {
    color: #213547;
    background-color: #f69d3c;
  } 