  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 1px 1px 5px black;
  }
  .navLinks {
    margin: 6px;
  }
  .navLinks button {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 8px;
    padding: 5px;
    font-size:medium;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }

  .search {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
  }