.container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    z-index: 6;
}

.container select {
    margin: 2px;
    border: 1px solid transparent;
}
.container select:hover {
    box-shadow: 1px 1px 5px black;
    border: 2px solid transparent;
    margin: 1px;
}

.filters {
    padding: 10px;
}
.sorts {
    padding: 10px;
}