.search {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    align-items: center;
    z-index: 6;
}

.searchBar {
    border: none;
    box-shadow: inset 1px 1px 4px;
    border-radius: 5px;
    height: 30px;
}