.landingpage {
  width: auto;
  height: 60%;
  color: black;
  
  position: absolute;
  margin-top: 230px;
  left: 50%;
  transform: translate(-50%, -35%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingpage button {
  font-size: larger;
  font-weight: bold;
  padding: 15px;
  border: 1px solid transparent;
  background-color: rgb(196, 27, 27);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px black;
  text-shadow:1px 1px 3px  black;
  transition: transform 0.5s ease;
}
.landingpage button:hover:enabled {
  background: rgb(255,255,255);
  color: rgb(196, 27, 27);
  text-shadow:1px 1px 3px  white;
  transform: scale(1.5);
}
.landingpage img {
  width: 150%;
  transition: transform 1s ease;
}
.landingpage img:hover {
  transform: scale(1.1);
}
