.container {
  position: relative;
  width: 100%;
  height: 700px;
  background-size: contain;
  background-image: url('footprints.png');
  background-repeat: no-repeat;
  background-position: center;
}

.landingpage {
  width: 50%;
  height: 60%;
  color: black;

  position: absolute;
  margin-top: 230px;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

img {
  width: 100%;
}