.divCards {
    display: flex;
    /* max-width: 900px; */
    width: 100%;
    flex-wrap: wrap;
    /* text-align:center; */
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 1em;
}

